<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>

  <body>
    <header></header>
    <main>
      <a href="/customers/add">Add New Customer</a>
      <table class="table table-bordered table-striped table-hover">
        <thead class="table-primary">
          <tr>
            <th>CustomerID</th>
            <th>CustomerName</th>
            <th>ContactName</th>
            <th>Address</th>
            <th>City</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i=0; i < customers.length; i++) { %>
          <tr>
            <td><%= customers[i].CustomerID %></td>
            <td><%= customers[i].CustomerName %></td>
            <td><%= customers[i].ContactName %></td>
            <td><%= customers[i].Address %></td>
            <td><%= customers[i].PostalCode %></td>
            <td><%= customers[i].Country %></td>
            <td><%= customers[i].Actions %></td>
            <td>
              <button type="button" class="btn btn-info mx-1">Edit</button
              ><button type="button" class="btn btn-danger mx-1">Delete</button>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
    <footer></footer>
  </body>
</html>
