<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Supplier</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>

  <body>
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/suppliers"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
          >
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Northwind</span>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="/suppliers/add" class="nav-link px-2 link-secondary"
                >Add New</a
              >
            </li>
            <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main>
      <h3 style="text-align: center; color: magenta; margin-bottom: 20px">
        Edit Supplier
      </h3>

      <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-10 col-md-8 col-lg-6">
            <form
              action="/suppliers/edit/<%= supplier._id %>"
              method="post"
            >
              <table class="table table-bordered table-hover p-4">
                <tr>
                  <td class="w-50"><label for="_id">SupplierID</label></td>
                  <td>
                    <input
                      type="number"
                      id="_id"
                      name="_id"
                      value="<%= supplier._id %>"
                      disabled
                    />
                  </td>
                </tr>
                <tr>
                  <td><label for="company">Company</label></td>
                  <td>
                    <input
                      type="text"
                      id="company"
                      name="company"
                      value="<%= supplier.company %>"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label for="first_name">First Name</label></td>
                  <td>
                    <input
                      type="text"
                      id="first_name"
                      name="first_name"
                      value="<%= supplier.first_name %>"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label for="last_name">Last Name</label></td>
                  <td>
                    <input
                      type="text"
                      id="last_name"
                      name="last_name"
                      value="<%= supplier.last_name %>"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label for="job_title">Job Title</label></td>
                  <td>
                    <input
                      type="text"
                      id="job_title"
                      name="job_title"
                      value="<%= supplier.job_title %>"
                    />
                  </td>
                </tr>
                <tr style="text-align: center">
                  <td colspan="2">
                    <button type="submit" class="btn btn-outline-primary my-2">
                      Edit Supplier
                    </button>
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
